/* Default styles for larger screens */
.about__img {
    order: 1; /* Image on the left */
    max-width: 50%; /* Adjust the width as needed */
    height: auto;
    display: flex;
    align-items: flex-start;
  }
  
  .about__content {
    order: 1; /* Content on the left */
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    width: 35%;
    left: 61%;
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    .about__img {
      max-width: 100%; /* Full width for smaller screens */
    }
  
    .about__content {
      position: static; /* Remove absolute positioning for smaller screens */
      text-align: left; /* Left-align content for smaller screens */
      padding: 20px; /* Adjust padding as needed */
      width: 100%; /* Full width for smaller screens */
    }
  }
  

.hero__content h2 {
    font-weight: 600;
    line-height: 55px;
  }
  
  .hero__content {
    padding-top: 80px;
  }
  .search input {
    border: none;
    outline: none;
    padding: 7px 10%;
  }
  
  
  .search {
    width: 60%;
    border: 1px solid #17bf9d44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin-top: 20px;
  }

  
.container{
    height:100vh;
    padding:5rem;
    box-sizing: border-box;
}


.vector-graphics{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vectorAnimation 1s infinite ease-in-out alternate;
}

@keyframes vectorAnimation{
    to{
        transform: translateY(-10px);
    }
}
.brandsBanner > svg{
    color: white;
    font-size: 3rem;
    transition: color 0.5s;
}

.brandsBanner >svg:hover{
    color: rgb(255,221,0);
}

.container2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 video{
    border: 1px solid rgba(0,0,0,0.18);
    width: 60%;
    border-radius: 5px;
    outline: none;
}

@media screen and (max-width:600px) {

    .container2 video{
        width: 100%;
    }
    
}

.course{
    margin-bottom: 1rem;
    width: 250px;

    transition: all 0.5s;
}

.course:hover{
    transform: translateY(-10px);

}

/* .css-1ecvf19 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--chakra-space-8);
    padding: var(--chakra-space-16);
    
    box-shadow: -2px 0 10px rgba(107,70,193,0.5);
} */




